<div class="explore-container main-container">
  <div class="title-container">
    <span class="com-title no-select">Explore <span *ngIf="pageType !== 'popular-this-week' && pageType !== 'newly-added' && pageType !== 'my-receipt'">&rarr;</span></span>
    <div *ngIf="pageType != null">
      <div *ngIf="pageType === 'popular-this-week'" style="display: flex; flex-direction: column">
        <span class="com-sub no-select">this</span>
        <span class="com-sub no-select">week</span>
        <span class="com-sub no-select">popular</span>
      </div>
      <div *ngIf="pageType === 'newly-added'" style="display: flex; flex-direction: column">
        <span class="com-sub no-select">newly</span>
        <span class="com-sub no-select">added</span>
      </div>
      <div *ngIf="pageType === 'my-receipt'" style="display: flex; flex-direction: column">
        <span class="com-sub no-select">my</span>
        <span class="com-sub no-select">receipt</span>
      </div>
    </div>
  </div>
  
  <div class="lower-part" style="display: flex; flex-direction: column">

    <app-explore-grid
      [reqT]="pageType"
    ></app-explore-grid>
  
  </div>

</div>
