.explore-container {
    background-color: #F7C52B;
    width: calc(100vw - calc(100vw * 0.2));
    min-height: calc(100vh - (100vh * 0.12 + 25px));
    height: auto;
    display: flex;
    flex-direction: column;
}

.title-container {
    width: 100%;
    height: calc(0.4 * (100vh - (100vh * 0.12 + 25px)));
    cursor: default;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.com-title {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 900;
    font-size: calc(0.3 * (100vh - (100vh * 0.12 + 25px)));
    color: darkgoldenrod;
}

.com-sub {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 900;
    font-size: calc(0.075 * (100vh - (100vh * 0.12 + 25px)));
    color: darkgoldenrod;
    margin-left: 15px;
}

.lower-part {
    width: calc(100%);
    padding: 10px 0;
}

.grid-container {
    width: 100%
}