.f-body {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.shrink {
  -webkit-animation: shrink 500ms ease-in-out;
  animation: shrink 500ms ease-in-out;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-delay: 200ms;
}

.fadeOut {
  -webkit-animation: fadeOut 250ms ease-in;
  animation: fadeOut 250ms ease-in;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span {
  padding-bottom: 0.714em !important;
  padding-top: 0.714em !important;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 400;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}

footer {
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  position: fixed;
  width: 100%;
  background: #f6e7ce;
  text-align: center;
}

footer .content {
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 80px;
}

footer .content .bottom {
  padding: 0;
  margin: 0;
  top: 10%;
}

footer .content .bottom .beat {
  color: red;
  -webkit-animation: beat 0.3s infinite alternate;
  animation: beat 0.3s infinite alternate;
}

footer .content .top {
  font-size: 25px;
}

footer .content .top .fa-twitter:hover {
  transition: 350ms ease-in-out;
  color: #55acee;
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
}

footer .content .top .fa-youtube:hover {
  transition: 350ms ease-in-out;
  color: #cd201f;
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
}

footer .content .top .fa-instagram:hover {
  transition: 350ms ease-in-out;
  color: #e4405f;
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
}

footer .content .top .fa-codepen:hover {
  transition: 350ms ease-in-out;
  color: #FFDD40;
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
}

footer .content .top a {
  padding: 10px;
}

footer .content .top i {
  transition: 500ms ease-in-out;
}

body {
  background: #f6e7ce;
  font-family: "Raleway", sans-serif;
  text-align: center;
}

.noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.artboard {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
}

.artboard .square {
  display: flex;
  position: absolute;
  border-radius: 3px;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  width: 50px;
  height: 50px;
  background: #FEFE3A;
}

.artboard .square:nth-child(1) {
  -webkit-animation: motion 2s infinite cubic-bezier(0.89, 0.03, 0.06, 1.5);
  animation: motion 2s infinite cubic-bezier(0.89, 0.03, 0.06, 1.5);
}

.artboard .path {
  display: block;
  position: relative;
  height: 10px;
  width: 80px;
  overflow: hidden;
  top: 35px;
}

.artboard .path .small-squares>div {
  position: absolute;
  display: inline-flex;
  width: 10px;
  height: 10px;
  background: #421930;
  margin: 0px 15px;
  top: 0px;
  left: 0;
  -webkit-animation: dynamic 4s infinite cubic-bezier(0.89, 0.03, 0.06, 1.5);
  animation: dynamic 4s infinite cubic-bezier(0.89, 0.03, 0.06, 1.5);
}

.artboard .path .small-squares>div:nth-child(1) {
  left: 0px;
}

.artboard .path .small-squares>div:nth-child(2) {
  left: 40px;
}

.artboard .path .small-squares>div:nth-child(3) {
  left: 80px;
}

.artboard .path .small-squares>div:nth-child(4) {
  left: 120px;
}

.artboard .path .small-squares>div:nth-child(5) {
  left: 160px;
}

.artboard .path .small-squares>div:nth-child(6) {
  left: 200px;
}

.artboard .path .small-squares>div:nth-child(7) {
  left: 240px;
}

.artboard .path .small-squares>div:nth-child(8) {
  left: 280px;
}

@-webkit-keyframes beat {
  to {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
  }
}

@keyframes beat {
  to {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
  }
}

@-webkit-keyframes motion {
  50% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

@keyframes motion {
  50% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

@-webkit-keyframes dynamic {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  25% {
    -webkit-transform: translateX(-40px);
    transform: translateX(-40px);
  }

  50% {
    -webkit-transform: translateX(-80px);
    transform: translateX(-80px);
  }

  75% {
    -webkit-transform: translateX(-120px);
    transform: translateX(-120px);
  }

  100% {
    -webkit-transform: translateX(-160px);
    transform: translateX(-160px);
  }
}

@keyframes dynamic {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  25% {
    -webkit-transform: translateX(-40px);
    transform: translateX(-40px);
  }

  50% {
    -webkit-transform: translateX(-80px);
    transform: translateX(-80px);
  }

  75% {
    -webkit-transform: translateX(-120px);
    transform: translateX(-120px);
  }

  100% {
    -webkit-transform: translateX(-160px);
    transform: translateX(-160px);
  }

}

@keyframes shrink {
  0% {
    width: 100vw;
    height: 100vh;
    z-index: 9;
  }

  75% {
    height: calc(100vh * 0.12);
  }

  100% {
    width: calc(100vw * 0.8);
    height: calc(100vh * 0.12);
    left: calc(100vw * 0.1);
    z-index: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
