<div class="f-body" [ngClass]="{'shrink': shrinkNow == true}">
  <div class="artboard" id="loading">
    <div class="square"></div>
    <div class="path">
      <div class="small-squares">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
</div>
