.container {
    width: calc(100% - 40px);
    height: calc(100% - 20px);
    padding: 0 20px 10px;
}

.com-title {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: darkgoldenrod;
}

.grid-container {
    width: calc(100% - 40px);
    height: calc(100% - 20px - 15px);
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.grid-container div.grid-children:not(:first-child) {
    margin-left: 15px;
}

.grid {
    min-width: 150px;
    width: 150px; 
    height: 100%;
    border: 1px solid transparent;
    border-radius: 15px;
    transition: all .2s ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    cursor: default;
    background-color: black;
    outline: none;
}

.grid:hover {
    transform: scale(1.1);
}

.more-container {
    width: 150px; 
    height: 100%;
    transition: all .2s ease-in-out;
    position: relative;
    margin-left: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    outline: none;
}

.more-container:hover {
    transform: scale(1.1);
}

.bullet-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.bullet-container div.bullet:not(:first-child) {
    margin-left: 5px;
}

.bullet {
    background-color: darkgoldenrod;
    width: 10px;
    height: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
}

.ov-shadow {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    border-radius: 15px;
    background-image: linear-gradient(rgba(0,0,0,1), transparent, rgba(0,0,0,1));
}

.info-container {
    padding: 10px 15px;
    height: calc(100% - 20px);
    width: calc(100% - 30px);
    display: flex;
    flex-direction: column;
    cursor: default;
}

.info-container .upper {
    flex: 1;
    position: relative;
}

.info-container .lower {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.food-name {
    color: white;
    font-size: 90%;
}

.author-name {
    color: white;
    font-size: 80%;
}

.input-time {
    color: white;
    font-size: 60%;
}

.no-data a{
    color: darkgoldenrod;
}

.loading-text {
    font-family: 'Playfair Display', 'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: calc(0.15 * calc(0.5 * calc(0.5 * 100vw - 40px)));
    color: darkgoldenrod;
    text-align: center;
}

.no-data-text {
    font-family: 'Playfair Display', 'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: calc(0.1 * calc(0.5 * calc(0.5 * 100vw - 40px)));
    color: darkgoldenrod;
}