<div class="container">
  <span class="com-title no-select">Newly added</span>

  <div class="loading" *ngIf="loading || error">
    <span class="loading-text no-select">{{ loading ? "Loading..." : error? "Error :(" : "" }}</span><br>
  </div>

  <div class="grid-container" #gcontainer *ngIf="newlyData.length > 0 && (!loading && !error)">

    <div *ngFor="let x of newlyData; let i = index" [ngClass]="{'grid-children': limitMeet(i, 150, gcontainer.offsetWidth)}">
      <div 
        class="grid" 
        *ngIf="limitMeet(i, 150, gcontainer.offsetWidth)" 
        [style.background-image]="getImg(x.food_image, x.food_image_type)" 
        style="background-size: cover; background-position: center" 
        routerLink="/details/{{x.food_id}}"
      >
        <div class="ov-shadow"></div>
        <div class="info-container">
          <div class="upper">
            <p class="food-name">{{ x.food_title }}</p>
            <p class="food-name">{{ x.viewed }} <i class="fa fa-eye"></i> {{ x.loved }} <i class="fa fa-heart" style="color: red;"></i></p>
          </div>
          <div class="lower">
            <p class="author-name">{{ getUser(x.input_by) }}</p>
            <p class="input-time" *ngIf="!isMoreThanADay(x.input_dt)">{{ getDateString(x.input_dt) | amTimeAgo}}</p>
            <p class="input-time" *ngIf="isMoreThanADay(x.input_dt)">{{ getTimeDateString(x.input_dt) | amLocale:'en' | amDateFormat:'MMMM Do YYYY'}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="more-container" routerLink="explore/newly-added">
      <div class="bullet-container">
        <div class="bullet"></div>
        <div class="bullet"></div>
        <div class="bullet"></div>
      </div>
      <p class="no-select" style="font-family: 'Playfair Display', 'Times New Roman', Times, serif;">more</p>
    </div>

  </div>

  <div class="no-data" *ngIf="newlyData.length < 1 && (!loading && !error)">
    <span class="no-data-text no-select">Your new receipt might appear here!</span><br>
    <a routerLink="/post"><span class="no-data-text">share now &rarr;</span></a>
  </div>


</div>