<div class="post-container">

  <div class="left-side" id="leftSide">
    <form #inputForm="ngForm" (ngSubmit)="formHandler()">
      
      <input 
        style="display: none" 
        type="file" 
        (change)="handlerFileChange($event)" 
        accept="image/x-png,image/jpeg,image/jpg"
        #imageInput
      >
      <div style="width: '100%'; display: flex; justify-content: center;">
        <div class="image-container" [style.backgroundImage]="getImg(foodValue.image)" (click)="imageInput.click()">
          <span class="img-text no-select" *ngIf="foodValue.image === ''">choose image</span>
        </div>
      </div><br>
      <input type="text" placeholder="food name" [(ngModel)]="foodValue.name" name="food-name"><br>

      <button type="button" (click)="deleteState()" *ngIf="pageType != null && delete == false" id="dtBtn">delete</button><br *ngIf="pageType != null && delete == false">

      <div class="conf-container" *ngIf="pageType != null && delete == true">
        <button type="button" (click)="deleteHandler()" id="dtBtn">yes</button>
        <button type="button" (click)="cancelDelete()" id="dtBtn">no</button>
      </div><br *ngIf="pageType != null && delete == true">
      
      <button type="button" (click)="pageType == null? formHandler() : editHandler()" id="sbBtn" *ngIf="!delete" style="margin-top: 5px">{{ afname?"save" : "next" }} <span id="arr">&rarr;</span></button>
    </form>
    

  </div>

  <div class="right-side" *ngIf="afname" id="rightSide">
    

    <div class="step">
      <div class="step-container" id="{{i}}" *ngFor="let x of stepValue; let i = index">
        <div class="upper">
          <span class="step-counter no-select">Step {{ i + 1 }}</span>
          <div class="content-container">
            <textarea [froalaEditor]="froalaOptions" [(ngModel)]="x.stepContent"></textarea>
          </div>
        </div>
        

        <div class="lower">
          <button (click)="scroll(i-1)" *ngIf="i>0" class="floating-button-up">
            <i class="fa fa-chevron-up"></i>
          </button>
          <button (click)="scroll(i+1)" class="floating-button-down" *ngIf="(i+1)<stepValue.length">
            <i class="fa fa-chevron-down"></i>
          </button>
          <button (click)="addStep(i+1)" class="floating-button-down" *ngIf="(i+1) == stepValue.length">
            <span>add step</span>
          </button>
          <button (click)="removeStep()" class="floating-button-down" *ngIf="(i+1) == stepValue.length && i != 0">
            <span>remove step</span>
          </button>
        </div>
        
      </div>
    </div>

  </div>

</div>

<!-- npm i ngx-editor -->