.post-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.wiggle {
    -webkit-animation: wiggle 200ms ease-in-out;
    animation: wiggle 200ms ease-in-out;
}

.left-side {
    width: calc(100vw - 50px);
    height: calc(100vh - 35px);
    padding: 10px 0px 25px 50px;
    background-color: #F7C52B;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    position: relative;
    float: left;
}

.info-done {
    -webkit-animation: af-name 400ms ease-in-out;
    animation: af-name 400ms ease-in-out;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

.left-side form {
    text-align: center;
    align-items: center;
}

.image-container {
    width: 300px; 
    height: 300px; 
    background-size: contain; 
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    display: flex;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    border: solid 1px transparent;
    border-radius: 20px;
}

.img-text {
    font-family: 'Playfair Display', 'Times New Roman', Times, serif;
    font-weight: 900;
    color: darkgoldenrod;
}

.left-side input[type=text] {
    width: 100%;
    text-align: center;
    font-family: 'Playfair Display', 'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: calc(0.036 * (100vw - calc(100vw * 0.1)));
    color: darkgoldenrod;
    outline: none;
    margin-top: 10px;
    border: 0;
    background-color: transparent;
}

.left-side button {
    font-family: 'Playfair Display', 'Times New Roman', Times, serif;
    font-size: calc(0.030 * (100vw - calc(100vw * 0.1)));
    font-weight: 900;
    color: darkgoldenrod;
    text-decoration: none;
    cursor: pointer;
    padding: 0;
    background-color: transparent;
    border: 0;
    outline: none;
}

.left-side ::placeholder  {
    color: darkgoldenrod;
}

.left-side .conf-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.right-side {
    width: calc(0.5 * 100vw - 40px);
    height: calc(100vh - calc(100vh * 0.12));
    padding-left: 20px;
    padding-right: 20px;
    padding-top: calc(100vh * 0.12);
    float: right;
    overflow: hidden;
}

.right-side .step {
    text-align: center;
    width: 100%; 
    min-height: calc(100vh - calc(100vh * 0.12)); 
}

.right-side .step:not(:last-child){
    margin-bottom: calc(100vh * 0.12);
}

.right-side .step-container {
    
    width: 100%;
    height: calc(100vh - calc(100vh * 0.12));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.step-container .upper, .step-container .lower{
    text-align: center;
    width: 100%;
}

.step-container .lower {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-side .step-counter {
    font-family: 'Playfair Display', 'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: calc(0.15 * calc(0.5 * calc(0.5 * 100vw - 40px)));
}

.right-side .content-container {
    margin-top: 35px;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}



.right-side .floating-button-up {
    border: 0;
    background-color: transparent;
    outline: none;
}

.right-side .floating-button-down {
    border: 0;
    background-color: transparent;
    outline: none;
    text-align: center;
    font-family: 'Playfair Display', 'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: calc(0.05 * calc(0.5 * calc(0.5 * 100vw - 40px)));
}

.right-side i {
    font-size: 30px;
}

@keyframes af-name {
    0% {
        width: calc(100vw - 50px);
    }

    100% {
        width: calc(0.5 * 100vw - 50px);
    }
}

@keyframes wiggle {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(25px);
    }

    50% {
        transform: translateX(0);
    }

    75% {
        transform: translateX(-25px);
    }

    100% {
        transform: translateX(0);
    }
}