.admin-container {
    width: calc(100vw - calc(100vw * 0.1));
    height: calc(100vh);
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.loading-arr {
    -webkit-animation: inf-mar infinite 500ms ease-in-out;
    animation: inf-mar infinite 500ms ease-in-out;
}

.left-side {
    width: calc(100% - 50px);
    background-color: #FF5042;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    padding: 25px;
}

.narrowing {
    -webkit-animation: narrowing 500ms ease-in-out;
    animation: narrowing 500ms ease-in-out;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

.left-side input[type=password] {
    border: 0;
    background-color: transparent;
    text-align: right;
    border-bottom: 3px solid #DE4639;
    font-family: 'Playfair Display', 'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: calc(0.036 * (100vw - calc(100vw * 0.1)));
    color: #DE4639;
    outline: none;
    margin-top: 10px;
}

.left-side ::placeholder {
    color: #DE4639;
}

.right-side {
    width: 0;
    background-color: white;
    padding: calc(100vh * 0.12 + 25px) 0 25px;
    opacity: 0;
    overflow: auto;
}

.right-side::-webkit-scrollbar-track
{
	background-color: transparent;
}

.right-side::-webkit-scrollbar
{
	width: 0;
	background-color: transparent;
}

.right-side::-webkit-scrollbar-thumb
{
	background-color: transparent;
    border: 1px solid transparent;
    border-radius: 10px;
}

.expanding {
    -webkit-animation: expanding 500ms ease-in-out;
    animation: expanding 500ms ease-in-out;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-delay: 150ms;
}

.com-title {
    font-family: 'Playfair Display', 'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: calc(0.036 * (100vw - calc(100vw * 0.1)));
    color: #DE4639;
    cursor: default;
}

.form-title {
    font-family: 'Playfair Display', 'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: calc(0.075 * (100vw - calc(100vw * 0.1)));
    color: black;
    cursor: default;
}

.form-value {
    font-family: 'Playfair Display', 'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: calc(0.015 * (100vw - calc(100vw * 0.1)));
    color: black;
    cursor: default;
}

.right-side input[type=text] {
    border: 0;
    border-bottom: 3px solid black;
    font-family: 'Playfair Display', 'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: calc(0.036 * (100vw - calc(100vw * 0.1)));
    color: black;
    outline: none;
    margin-top: 10px;
}

.right-side input[type=password] {
    border: 0;
    border-bottom: 3px solid black;
    font-family: 'Playfair Display', 'Times New Roman', Times, serif;
    font-size: calc(0.036 * (100vw - calc(100vw * 0.1)));
    font-weight: 900;
    color: black;
    outline: none;
    margin-top: 10px;
}

.right-side button {
    font-family: 'Playfair Display', 'Times New Roman', Times, serif;
    font-size: calc(0.015 * (100vw - calc(100vw * 0.1)));
    font-weight: 900;
    color: black;
    margin-top: 15px;
    text-decoration: none;
    cursor: pointer;
    padding: 0;
    background-color: transparent;
    border: 0;
    outline: none;
}

.right-side button:hover{
    color: rgba(0,0,0,0.8);
}

.right-side .button {
    font-family: 'Playfair Display', 'Times New Roman', Times, serif;
    font-size: calc(0.018 * (100vw - calc(100vw * 0.1)));
    font-weight: 900;
    color: black;
    cursor: pointer;
    text-decoration: underline;
}

.right-side .user-name {
    font-family: 'Playfair Display', 'Times New Roman', Times, serif;
    font-size: calc(0.05 * (100vw - calc(100vw * 0.1)));
    font-weight: 900;
    color: black;
}

.right-side .row {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
}

.right-side .row:hover {
    background-color: lightgrey;
}

@keyframes narrowing {
    0% {
      width: calc(100% - 50px);
    }
  
    100% {
      width: calc((100vw * 0.1) + (100vw * 0.8 * 0.25) - 50px);
    }
}

@keyframes expanding {
    0% {
      width: 0;
      padding-left: 0;
      padding-right: 0;
      opacity: 0;
    }
  
    100% {
      width: calc(100% - ((100vw * 0.1) + (100vw * 0.8 * 0.25) - 50px) - 100px);
      padding-left: 25px;
      padding-right: 25px;
      opacity: 1;
    }
}

@keyframes inf-mar {
    0% {
      margin-left: 0;
    }
  
    50% {
      margin-left: 15px;
    }

    100% {
        margin-left: 0;
    }
}
  