<div class="admin-container">


  <div class="left-side" id="leftSide">
    <span class="com-title no-select" *ngFor="let x of status">{{ x }}</span>
    <span class="com-title no-select">.</span>
    <form #inputForm="ngForm" (ngSubmit)="onSubmit()" *ngIf="!isAdmin">
      <input type="password" placeholder="code" [(ngModel)]="code" name="code">
    </form>
  </div>

  <div class="right-side" id="rightSide" *ngIf="!edit">
    <span class="form-title no-select">user</span>
    <div class="row-container">
      <div class="row" *ngFor="let x of userData">
        <span class="form-value no-select">{{ x.user_id }}</span>
        <span class="form-value no-select">{{ x.username }}</span>
        <span class="form-value no-select">{{ x.name }}</span>
        <span class="form-value no-select" style="cursor: pointer;" (click)="editState(x.user_id, x.name)">edit</span>
        <span class="form-value no-select" style="color: red; cursor: pointer;" (click)="deleteHandler(x.user_id, 'user')">delete</span>
      </div>
    </div>
    <hr />
    <span class="form-title no-select">history</span>
    <div class="row-container">
      <div class="row" *ngFor="let x of historyData">
        <span class="form-value no-select">{{ x.action }}</span>
        <span class="form-value no-select">{{ x.input_by }}</span>
        <span class="form-value no-select">{{ getDate(x.input_dt) }}</span>
      </div>
    </div>
    <hr />
    <span class="form-title no-select">post</span>
    <div class="row-container">
      <div class="row" *ngFor="let x of postData">
        <span class="form-value no-select">{{ x.food_id }}</span>
        <span class="form-value no-select">{{ x.food_title }}</span>
        <span class="form-value no-select">{{ x.viewed }}</span>
        <span class="form-value no-select">{{ x.loved }}</span>
        <span class="form-value no-select">{{ x.input_by }}</span>
        <span class="form-value no-select">{{ getDate(x.input_dt) }}</span>
        <span class="form-value no-select">{{ x.update_by == null? "" : x.update_by }}</span>
        <span class="form-value no-select">{{ x.update_dt == null? "" : getDate(x.update_dt) }}</span>
        <span class="form-value no-select" style="color: red; cursor: pointer;" (click)="deleteHandler(x.food_id, 'food')">delete</span>
      </div>
    </div>
  </div>

  <div class="right-side expanding" *ngIf="edit">
      <span class="user-name no-select">{{ user_name }}</span>
    <form #inputForm="ngForm" (ngSubmit)="onChangePassword(inputForm)">
      <input type="password" placeholder="new password" [(ngModel)]="password" name="password" required minlength="8"><br>
      <input type="password" placeholder="confirm password" [(ngModel)]="cpassword" name="cpassword"><br>
      <button type="submit">update <span id="arr">&rarr;</span></button><br>
      <button type="button" (click)="doneEdit()">cancel</button>
    </form>
  </div>

</div>
