.details-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.left-side {
    width: calc(0.5 * 100vw - 50px);
    height: calc(100vh - 20px);
    padding: 10px 0px 10px 50px;
    background-color: #F7C52B;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    position: relative;
    float: left;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.2);
}

.left-side .food-title {
    font-family: 'Playfair Display', 'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: calc(0.125 * calc(0.5 * calc(0.5 * 100vw - 40px)));
    text-align: right;
    color: rgba(255, 255, 255, 0.4);
    padding: 30px 15px;
    position: relative;
}

.left-side .icon {
    background-color: white;
    padding: 10px;
    border: 1px;
    border-radius: 20px;
    transition: 0.1s;
}

.left-side .icon:hover {
    transform: scale(1.2);
    
}

.ov-shadow {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5), rgba(0,0,0,0.5));
}

.right-side {
    width: calc(0.5 * 100vw - 40px);
    height: calc(100vh - calc(100vh * 0.12));
    padding-left: 20px;
    padding-right: 20px;
    padding-top: calc(100vh * 0.12);
    float: right;
    overflow: hidden;
}

.right-side .end-container {
    padding-bottom: 15px; 
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}

.end-btn {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}

.end-btn i {
    color: red;
}

.right-side .step {
    text-align: center;
    width: 100%; 
    min-height: calc(100vh - calc(100vh * 0.12)); 
}

.right-side .step:not(:last-child){
    margin-bottom: calc(100vh * 0.12);
}

.right-side .step-container {
    
    width: 100%;
    height: calc(100vh - calc(100vh * 0.12));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.step-container .upper, .step-container .lower{
    text-align: center;
    width: 100%;
}

.step-container .lower {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-side .step-counter {
    font-family: 'Playfair Display', 'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: calc(0.15 * calc(0.5 * calc(0.5 * 100vw - 40px)));
}

.right-side .content-container {
    margin-top: 35px;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}



.right-side .floating-button-up {
    border: 0;
    background-color: transparent;
    outline: none;
}

.right-side .floating-button-down {
    border: 0;
    background-color: transparent;
    outline: none;
    text-align: center;
    font-family: 'Playfair Display', 'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: calc(0.05 * calc(0.5 * calc(0.5 * 100vw - 40px)));
}

.right-side i {
    font-size: 30px;
}