<div class="details-container">

  <div class="left-side" [style.backgroundImage]="getImg(bg_url, bg_type)">
    <div class="ov-shadow"></div>
    <span class="food-title no-select">
      {{ foodTitle }}<br>
      <span style="font-size: calc(0.09 * calc(0.5 * calc(0.5 * 100vw - 40px)))">by {{ foodAuthor }}</span><br>
      <span style="font-size: calc(0.075 * calc(0.5 * calc(0.5 * 100vw - 40px)));color: white;">{{ viewed }} <i class="fa fa-eye icon" style="color: #3498db"></i></span><br>
      <span style="font-size: calc(0.075 * calc(0.5 * calc(0.5 * 100vw - 40px)));color: white;">{{ loved }} <i class="fa fa-heart icon" style="color: #e74c3c"></i></span><br>
      <span style="font-size: calc(0.075 * calc(0.5 * calc(0.5 * 100vw - 40px))); cursor: pointer;" routerLink="/post/edit/{{ foodId }}"><i class="fa fa-edit icon" style="color: #2ecc71"></i></span>
    </span>
  </div>

  <div class="right-side">
    <div class="step">
      <div class="step-container" id="{{i}}" *ngFor="let x of detailContent; let i = index">
        <div class="upper">
          <span class="step-counter no-select">Step {{ i + 1 }}</span>
          <div class="content-container">
            <div style="width: 100%" [froalaView]="getContent(x)"></div>
          </div>
        </div>

        <div class="end-container" *ngIf="i == detailContent.length -1">
          <button class="end-btn" (click)="setLove()"><i class="fa fa-heart"></i> I LOVE IT!</button>
        </div>
        

        <div class="lower" *ngIf="detailContent.length > 1">
          <button (click)="scroll(i-1)" *ngIf="i>0" class="floating-button-up">
            <i class="fa fa-chevron-up"></i>
          </button>
          <button (click)="scroll(i+1)" class="floating-button-down" *ngIf="(i+1)<detailContent.length">
            <i class="fa fa-chevron-down"></i>
          </button>
        </div>
        
      </div>
    </div>
  </div>

</div>

<!-- https://github.com/alvarotrigo/angular-fullpage -->