<div class="home-container main-container">

  <div class="upper-part">
    <div class="quote-container">
      <span class="main-quote no-select">
        One cannot<br>think well, <br>love well, <br>sleep well, <br>if one has not dined well.
      </span>
    </div>
    
    <div class="newly-container">
      <app-newly-added></app-newly-added>
    </div>

  </div>

  <div class="lower-part">
    <app-popular-this-week></app-popular-this-week>
  </div>


</div>
