.home-container {
  background-color: #F7C52B;
  width: calc(100vw - calc(100vw * 0.2));
  height: calc(100vh - (100vh * 0.12 + 25px));
  display: flex;
  flex-direction: column;
}

.upper-part {
  width: 100%;
  height: calc(0.4 * calc(100vh - (100vh * 0.12 + 25px)));
  display: flex;
  flex-direction: row;
}

.lower-part {
  width: 100%;
  height: calc(0.6 * calc(100vh - (100vh * 0.12 + 25px)));
}

.quote-container {
  width: 30%;
  height: 100%;
}

.newly-container {
  width: 70%;
  height: 100%;
}

.main-quote {
  font-family: 'Playfair Display', sans-serif;
  font-weight: 900;
  font-size: calc(0.026 * (100vw - calc(100vw * 0.2)));
  color: darkgoldenrod;
  cursor: default;
}
