.about-container {
    width: calc(100vw);
    height: calc(100vh);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #F7C52B;
}

.title-container {
    width: 100%;
    height: calc(0.4 * 100vh - calc(100vh * 0.12 + 25px));
    padding-top: calc(100vh * 0.12 + 25px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-container .com-title {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 900;
    font-size: calc(0.5 * calc(0.4 * 100vh - calc(100vh * 0.12 + 25px)));
    color: darkgoldenrod;
}

.credit-container {
    width: calc(100% - calc(0.2 * 100%));
    height: calc(0.6 * 100vh);
    padding: 0 calc(0.1 * 100vw);
    display: flex;
    flex-direction: column;
}

.left-align, .right-align {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.left-align {
    align-items: flex-start;
}

.right-align {
    align-items: flex-end;
}

.name, .sub {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 900;
    color: darkgoldenrod;
}

.name:hover {
    transform: translateX(20px);
}