<div class="about-container">

  <div class="title-container">
    <span class="com-title no-select">Who made this?</span>
  </div>
  
  <div class="credit-container">
    <div *ngFor="let x of credit; let i = index" style="display: flex;width:100%;height:100%;">
      <div [ngClass]="{'left-align': i%2 == 0, 'right-align': i%2 != 0}" #con>
        <span 
          class="name no-select"
          [style.font-size]="(0.4 * con.offsetHeight) + 'px'"
        >{{ x.name }}</span>
        <span 
          class="sub no-select"
          [style.font-size]="(0.2 * con.offsetHeight) + 'px'"
        >
          {{ x.nim }} &rarr; 17IS2</span>
      </div>
    </div>
  </div>
</div>
