<div class="user-container">


  <div class="left-side">
    <span class="com-title no-select" *ngFor="let x of status">{{ x }}</span>
    <span class="com-title no-select">.</span>
  </div>

  <div class="right-side">
    <div *ngIf="animDone && (curState === 'Login' || curState === 'Register')" style="display: flex;flex-direction: column;">
      <span class="form-title no-select">{{ curState }}</span>
      <span class="form-title no-select" *ngIf="curStatus != null || curStatus !== ''">{{ curStatus }}</span>
      <form #inputForm="ngForm" (ngSubmit)="onSubmit(inputForm)">
        <input type="text" placeholder="name" *ngIf="curState === 'Register'" [(ngModel)]="formValue.name" name="name" [required]="curState === 'Register'"><br>
        <input type="text" placeholder="username" [(ngModel)]="formValue.username" name="username" required><br>
        <input type="password" placeholder="password" [(ngModel)]="formValue.password" name="password" required minlength="8"><br>
        <input type="password" placeholder="confirm password" [(ngModel)]="cpassword" *ngIf="curState === 'Register'" name="cpassword"><br>
        <button type="submit">{{ submitBtn }} <span id="arr">&rarr;</span></button>
      </form>
      <span class="button" (click)="register()" *ngIf="curState === 'Login'">register</span>
      <span class="button" (click)="backtologin()" *ngIf="curState === 'Register'">back</span>
      <span class="button" routerLink="/admin-panel">admin panel</span>
    </div>

    <div *ngIf="animDone && (curState === 'Profile')" style="display: flex;flex-direction: column;">
        <span class="form-title no-select">{{ curState }}</span>

        <span class="user-name no-select">{{ userInfo.name }}</span>
        <span class="form-title no-select" *ngIf="curStatus != null || curStatus !== ''">{{ curStatus }}</span>
        <form #inputForm="ngForm" (ngSubmit)="onChangePassword(inputForm)">
          <input type="password" placeholder="password" [(ngModel)]="opassword" name="opassword" required minlength="8"><br>
          <input type="password" placeholder="new password" [(ngModel)]="formValue.password" name="password" required minlength="8"><br>
          <input type="password" placeholder="confirm password" [(ngModel)]="cpassword" name="cpassword"><br>
          <button type="submit">update <span id="arr">&rarr;</span></button>
        </form>
        <span class="button" (click)="logout()">logout</span>
    </div>
  </div>

</div>
