.container {
    width: calc(100%);
}

.search-input {
    width: calc(100vw - calc(0.2 * 100vw) - 35px);
    margin: 15px 0;
    padding: 15px 20px;
    border: 1px solid transparent;
    border-radius: calc(0.2 * calc(100vw - calc(0.2 * 100vw) - 30px));
    z-index: 1;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.2);
    font-family: 'Playfair Display', sans-serif;
    font-weight: 400;
    font-size: 24px;
    outline: none;
}

.fix-search {
    position: fixed;
    top: 10px;
}

.grid-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.grid-container div.row:not(:first-child) {
    margin-top: 25px;
}

.grid-container div.row:last-child {
    margin-bottom: 25px;
}

.row div.grid:not(:first-child){
    margin-left: 25px;
}

.row {
    display: flex;
    flex-direction: row;
}

.grid {
    width: 250px;
    height: 400px;
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: black;
    transition: all .2s ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    cursor: default;
}

.grid:hover {
    outline: none;
    transform: scale(1.05);
}

.ov-shadow {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(rgba(0,0,0,1), transparent, rgba(0,0,0,1));
}

.info-container {
    padding: 10px 15px;
    height: calc(100% - 20px);
    width: calc(100% - 30px);
    display: flex;
    flex-direction: column;
    cursor: default;
}

.info-container .upper {
    flex: 1;
    position: relative;
}

.info-container .lower {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.food-name {
    color: white;
    font-size: 90%;
}

.author-name {
    color: white;
    font-size: 80%;
}

.input-time {
    color: white;
    font-size: 60%;
}

.no-data {
    text-align: center;
}

.no-data a{
    color: darkgoldenrod;
}

.no-data-text {
    font-family: 'Playfair Display', 'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: calc(0.15 * calc(0.5 * calc(0.5 * 100vw - 40px)));
    color: darkgoldenrod;
    text-align: center;
}

.more-container {
    width: 100%; 
    text-align: center;
}

.more-container button {
    border: 0;
    background-color: transparent;
    font-family: 'Playfair Display', 'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: calc(0.075 * calc(0.5 * calc(0.5 * 100vw - 40px)));
    color: darkgoldenrod;
    outline: none;
    cursor: pointer;
}