<div class="container">

    <input type="text" class="search-input" id="search" placeholder="Cook your best" (keyup)="applyFilter($event.target.value)">

    <div class="loading" style="text-align: center;" *ngIf="loading || error">
      <span class="no-data-text no-select">{{ loading ? "Loading..." : error? "Error :(" : "" }}</span><br>
    </div>

    <div class="grid-container" #gcontainer *ngIf="allData.length > 0 && (!loading && !error)">

      <div class="row" *ngFor="let y of getRow(250, gcontainer.offsetWidth)">

        <div 
          class="grid" 
          *ngFor="let x of y" 
          [style.background-image]="getImg(x.food_image, x.food_image_type)" 
          style="background-size: cover; background-position: center"
          routerLink="/details/{{x.food_id}}"
        >
          <div class="ov-shadow"></div>

          <div class="info-container">
            <div class="upper">
              <p class="food-name">{{ x.food_title }}</p>
              <p class="food-name">{{ x.viewed }} <i class="fa fa-eye"></i> {{ x.loved }} <i class="fa fa-heart" style="color: red"></i></p>
            </div>

            <div class="lower">
              <p class="author-name">{{ getUser(x.input_by) }}</p>
              <p class="input-time" *ngIf="!isMoreThanADay(x.input_dt)">{{ getDateString(x.input_dt) | amTimeAgo}}</p>
              <p class="input-time" *ngIf="isMoreThanADay(x.input_dt)">{{ getTimeDateString(x.input_dt) | amLocale:'en' | amDateFormat:'MMMM Do YYYY'}}</p>
            </div>

          </div>
        </div>

      </div>

      <div class="more-container" *ngIf="page < t_page">
        <button (click)="loadMore()">more</button>
      </div>
    </div>

    <div class="no-data" *ngIf="allData.length < 1 && (!loading && !error)">
      <span class="no-data-text no-select">No receipt shared yet!<br>Be the first to share your genius.</span><br>
      <a routerLink="/post"><span class="no-data-text">share now &rarr;</span></a>
    </div>

</div>