/* You can add global styles to this file, and also import other style files */

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
}

body::-webkit-scrollbar-track
{
	background-color: transparent;
}

body::-webkit-scrollbar
{
	width: 0;
	background-color: transparent;
}

body::-webkit-scrollbar-thumb
{
	background-color: transparent;
  border: 1px solid transparent;
  border-radius: 10px;
}

p {
  margin: 0;
}

.main-container {
  padding: calc(100vh * 0.12 + 25px) calc(100vw * 0.2 / 2) 0
}

.no-select {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */  
}

.fp-tableCell {
  vertical-align: baseline;
}