.nav-container {
  background-color: transparent;
  height: calc(100vh * 0.12);
  position: absolute;
  top: 0;
  left: calc(100vw * 0.1);
  -webkit-animation: comeout 500ms ease-in-out;
  animation: comeout 500ms ease-in-out;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-delay: 750ms;
  display: flex;
  flex-direction: row;
  z-index: 10;
  background-color: white;
  box-shadow: 0;
}

.brand-container {
  width: 0;
  height: 100%;
  background-color: #FF5042;
  -webkit-animation: brandout 500ms ease-in-out;
  animation: brandout 500ms ease-in-out;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-delay: 750ms;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-name {
    font-weight: bold;
    opacity: 0;
    -webkit-animation: fadeIn 300ms ease-in;
    animation: fadeIn 300ms ease-in;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-delay: 1.25s;
}

.brand-name a {
    text-decoration: none;
    color: white;
    font-family: 'Playfair Display', sans-serif;
    font-weight: 900;
    font-size: 28px;
}

.nav {
    background-color: transparent;
    width: calc(100vw * 0.8 * 0.75);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    -webkit-animation: fadeIn 150ms ease-in;
    animation: fadeIn 150ms ease-in;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-delay: 1.55s;
}

.nav ul li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    padding-right: 50px;
    font-size: 14px;
}

li a:hover {
    color: rgba(0,0,0, 0.75);
}

@keyframes comeout {
  0% {
    width: 0;
    box-shadow: 0;
  }

  100% {
    width: calc(100vw * 0.8);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  }
}

@keyframes brandout {
  0% {
    width: 0;
  }

  100% {
    width: calc(100vw * 0.8 * 0.25);

  }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
