<div class="nav-container">
  <div class="brand-container">
    <h1 class="brand-name">
      <a routerLink="">foceipt</a>
    </h1>
  </div>
  <div class="nav">
    <ul>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/explore">Explore</a></li>
      <li><a routerLink="/post" *ngIf="loggedIn">Share new receipt</a></li>
      <li><a routerLink="/explore/my-receipt" *ngIf="loggedIn">My receipt</a></li>
      <li><a routerLink="/account">{{ accountStatus }}</a></li>
    </ul>
  </div>
</div>