<div class="container">
  <div class="top-container">
    <span class="com-title no-select">Popular this week</span>
    <a routerLink="explore/popular-this-week"><span class="com-title">explore more &rarr;</span></a>
  </div>
  
  <div class="loading" *ngIf="loading || error">
    <span class="loading-text no-select">{{ loading ? "Loading..." : error? "Error :(" : "" }}</span><br>
  </div>

  <div class="grid-container" #gcontainer *ngIf="newlyData.length > 0 && (!loading && !error)">
    <div *ngFor="let x of newlyData; let i = index" [ngClass]="{'grid-children': limitMeet(i, 150, gcontainer.offsetWidth)}">
      <div 
        class="grid" 
        routerLink="/details/{{x.food_id}}" 
        *ngIf="limitMeet(i, 200, gcontainer.offsetWidth)" 
        style="background-size: cover; background-position: center"
        [style.background-image]="getImg(x.food_image, x.food_image_type)" 
      >
        <div class="ov-shadow"></div>
        <div class="info-container">
          <div class="upper">
            <p class="food-name">{{ x.food_title }}</p>
            <p class="food-name">{{ x.viewed }} <i class="fa fa-eye"></i> {{ x.loved }} <i class="fa fa-heart" style="color: red"></i></p>
          </div>
          <div class="lower">
            <p class="author-name">{{ getUser(x.input_by) }}</p>
            <p class="input-time" *ngIf="!isMoreThanADay(x.input_dt)">{{ getDateString(x.input_dt) | amTimeAgo}}</p>
            <p class="input-time" *ngIf="isMoreThanADay(x.input_dt)">{{ getTimeDateString(x.input_dt) | amLocale:'en' | amDateFormat:'MMMM Do YYYY'}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="no-data" *ngIf="newlyData.length < 1 && (!loading && !error)">
    <span class="no-data-text no-select">Your receipt might be the most popular!</span><br>
    <a routerLink="/post"><span class="no-data-text">get loved and viewed now &rarr;</span></a>
  </div>

</div>
